<div class="navbar">
  <a href="/api">
    <h1 class="header">
      Documentr
    </h1>
  </a>
  <select onchange="if (this.selectedIndex) window.location.href = '/api/' + this.selectedIndex;">
    <option selected>
      Select Api
    </option>
    <%= for api <- @apis do %>
      <option value="volvo">
        <%= api.name %>
      </option>
    <% end %>
  </select>

  <a href="/api/new" class="navbar_create">Create New API</a>
</div>
