<div class="sidebar">
  <h3><%= side_bar_title() %></h3>
  <%= for path <- get_paths(@api) do %>
    <div class="sidebar-row">
      <%= render "method_icon.html", method: path.method %>
      <a href="#<%= path.id%>" class="sidebar-row-route"><%= path.url%></a>
    </div>
  <% end %>
</div>
