<div class="sidebar">
  <h3><%= side_bar_title() %></h3>
  <%= for {unique_key, unique_value} <- get_paths_by_unique_url(@api) do %>
    <div class="sidebar-row">
      <a href="#<%= unique_key%>" class="sidebar-row-route"><%= unique_key%></a>
    </div>
  <% end %>
</div>
